/*general*/
body {
    margin: 0;
    height: 100%;
}

/*main container*/
#container {
    height: 70em;
    margin: 2em auto auto auto;
    
    /*home stuff*/
    #homeContainer #postsContainer {
        border: .1em solid black;
        word-wrap: break-word;
        width: 50%;
    }
}